@model List<Item>

<section class="equipment-service text-center">
    <div class="container">
        <h1 class="display-4 fw-bold">Equipment Hire</h1>
        <p class="lead fw-bold text-white">Rent high-quality equipment for your events</p>
    </div>
</section>

<section id="equipment-catalogue" class="section catalogue">
    <partial name="_serviceList" model="Model" />
</section>
